@import "../../styles/variables";

.footer_link {
  margin-left: 2px;
  margin-right: 2px;
  color: white;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.footer_link:hover {
  color: $primary;
}

.footer_link:hover:after {
  width: 100%;
  left: 0%;
}

.footer_link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: $primary;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
